Makefile
build/
tmp/*
*.pro.user
#*.ini
moc_*
ui_*
*.o
#*.a
*.mk
#*.d
.settings*
#makefile
.project
.cproject
*~
*.orig
*.log
/docs/html/*
distr/*
#scripts/rootfs/*
scripts/exps
user_specs/*
Output/*
.qmake.stash
doc/html
